  .from_name, .from_email {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .from_name::placeholder,
  .from_email::placeholder,
.msg::placeholder {
  color: #a5a5a5; /* Change placeholder text color */
}
  
  .msg {
    width: 100%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact_form {
    border-radius: 10px;
    background-color: #f6dddd;
    padding: 30px;
    
  }