.contact-some-container>h2 {
    font-size: 1em;
}

.footer {
    background: #272727;
    color: #fff;
    padding: 4rem 0;
}

.contact-some-container {
    max-width: 120rem;
    margin: auto;
    width: 92%;
}

.some-icon {
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.horizontal-list {
    display: flex;
}

.horizontal-list ul {
    display: flex;
    list-style: none;
    padding: 10px 5px;
}

.horizontal-list li {
    margin-right: 10px;
}

.copyright {
    position: absolute;
    right: 50px;
    max-width: 120rem;
    margin: auto;
    font-size: small;
}

@media screen and (max-width: 768px) {
    .copyright {
        margin: 1.5em 0 0 0;
    }
}